footer {
    z-index: 7;
    background-color: rgba(0, 0, 0, 0.863);
    backdrop-filter: blur(5px);

    width: 100%;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    flex-direction: row;
    gap: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

footer p {
    color: white;
}

.ctt,
.redessociais,
.funcionamento {
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



footer h3 {
    font-size: 50px;

}

footer h4 {
    color: rgb(1, 221, 118);
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 10px;

}

.funcionamento>p {
    display: block;

}

.ulredes {
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
margin-top: 10px;
}

.ulredes li {
list-style: none;
}

.ulredes li a {
width: 55px;
height: 55px;
background-color: #fff;
text-align: center;
line-height: 40px;
font-size: 35px;
margin: 0 10px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
position: relative;
overflow: hidden;
border: 3px solid #fff;
z-index: 1;
}

.ulredes li a .icon {
position: relative;
color: #262626;
transition: .5s;
z-index: 3;
}

.ulredes li a:hover .icon {
color: #fff;
transform: rotateY(360deg);
}

.ulredes li a:before {
content: "";
position: absolute;
top: 100%;
left: 0;
width: 100%;
height: 100%;
background: #f00;
transition: .5s;
z-index: 2;
}

.ulredes li a:hover:before {
top: 0;
}

.ulredes li:nth-child(4) a:before{
background: linear-gradient(45deg, #f09533a6 0%, #e6693c93 25%, #dc27429d 50%, #cc2366 75%, #bc1888 100%);

}

.ulredes li:nth-child(1) a:before{
background: rgba(61, 50, 50, 0.712);
}

.ulredes li:nth-child(2) a:before {
background: #0077b5;
}

.ulredes li:nth-child(5) a:before {
background: #11ad03ab;
}